@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Plus Jakarta Sans', Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

